@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1; /* keep it behind content */
}


#container {
    height: 500vh;
}
/*#pName, #pTitle {*/
/*    position: relative;*/
/*    transition: all 1s ease; !* smooth class transition *!*/
/*}*/

/*.animated{*/

/*}*/

/*#pName.animated {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    transform: none;*/
/*}*/

/*#pTitle.animated {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    transform: none;*/
/*}*/
